body {
  background-color: #d1e7dd;
  font-family: Arial, sans-serif;
}
.report-card {
  border: 1px solid #ced4da;
  border-radius: 12px;
  padding: 25px;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.section-title {
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  margin-bottom: 15px;
}
.form-label {
  font-weight: 600;
}

/* .border-primary-custom {
  border-color: #0d6efd !important;
} */


